.objective {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 280px;
    border-radius: 12px;

    .card-sides {
        .card-side {
            border-radius: 12px;
            background-size: auto 100%;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            /*&.back {
                background-image: url('img/us/card-back.png');
            }*/

            /*@for $type from 1 through 7 {
                &.front[data-type="#{DOLLARtype}"] {
                    background-image: url('img/us/cards#{DOLLARtype}.png');
                }
            }*/

            &.front[data-type="1"] {
                @for $subType from 1 through 2 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 1};
                    }
                }
            }

            &.front[data-type="2"] {
                @for $subType from 1 through 8 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 7};
                    }
                }
            }

            &.front[data-type="3"] {
                @for $subType from 1 through 7 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 6};
                    }
                }
            }

            &.front[data-type="4"] {
                @for $subType from 1 through 5 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 4};
                    }
                }
            }

            &.front[data-type="5"] {
                @for $subType from 1 through 2 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 1};
                    }
                }
            }

            &.front[data-type="6"] {
                @for $subType from 1 through 5 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 4};
                    }
                }
            }

            &.front[data-type="7"] {
                @for $subType from 1 through 7 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 6};
                    }
                }
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }

    .card-score {
        position: absolute;
        bottom: -5px;
        width: 80px;
        height: 80px;
        left: 60px;
        box-shadow: 0 0 5px 2px #00000099;
        border-radius: 50%;
        background-color: white;
        animation: card-score-animation 1s 1 forwards ease-in-out;
        transform-origin: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
    }
}

@keyframes card-score-animation {
    0% {
        transform: scale(0);
    }
    66% {
        transform: scale(1.5);
    }
    100% { 
        transform: scale(1);
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px rgb(255, 212, 131);
    }
    100% { 
      box-shadow: 0 0 5px 3px rgb(255, 212, 131);
    }
}
