.objective {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 280px;
    border-radius: 8px;

    .card-sides {
        .card-side {
            border-radius: 8px;
            background-size: auto 100%;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            &.back {
                background-image: url('img/card-back.png');
            }

            @for $type from 1 through 7 {
                &.front[data-type="#{$type}"] {
                    background-image: url('img/cards#{$type}.png');
                }
            }

            &.front[data-type="1"] {
                @for $subType from 1 through 2 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 1};
                    }
                }
            }

            &.front[data-type="2"] {
                @for $subType from 1 through 8 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 7};
                    }
                }
            }

            &.front[data-type="3"] {
                @for $subType from 1 through 7 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 6};
                    }
                }
            }

            &.front[data-type="4"] {
                @for $subType from 1 through 5 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 4};
                    }
                }
            }

            &.front[data-type="5"] {
                @for $subType from 1 through 2 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 1};
                    }
                }
            }

            &.front[data-type="6"] {
                @for $subType from 1 through 5 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 4};
                    }
                }
            }

            &.front[data-type="7"] {
                @for $subType from 1 through 7 {
                    &[data-sub-type="#{$subType}"] {
                        background-position-x: #{($subType - 1) * 100% / 6};
                    }
                }
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px rgb(255, 212, 131);
    }
    100% { 
      box-shadow: 0 0 5px 3px rgb(255, 212, 131);
    }
}
