.chip {
  display: inline-block;
  position: relative;
  width: 82px;
  height: 98px;

  .card-sides {
      .card-side {
          box-shadow: unset;
          background-size: auto 100%;
          //background-image: url('img/us/chips.png');

          &>* {
              pointer-events: none;
              user-select: none;
          }
      }
  }

  @for $type from 1 through 5 {
    &[data-type="#{$type}"] .card-side {
        background-position-x: #{($type - 1) * 100% / 4};
    }
  }
}

