.bga-help_expandable-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#popin_bgaHelpDialog_title {
    color: #a91216;
    font-family: 'teeshirt';
    font-size: 18px;
}

#help-popin {
    .help-section {    
        padding: 5px;
        margin: 3px 0;

        display: flex;

        &>div:not(:first-child) {
            margin-left: 5px;
            flex: 1;
        } 
    }
}