.bga-help_expandable-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#help-popin {
    h1 {
        color: #a91216;
        font-family: 'teeshirt-regular';
        font-size: 18px;
        margin: 8px 0;
    }

    .help-section {    
        padding: 5px;
        margin: 3px 0;

        display: flex;

        &>div:not(:first-child) {
            margin-left: 5px;
            flex: 1;
        } 
    }
}