@import '../node_modules/bga-help/bga-help';
@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-jump-to/bga-jump-to';
@import '../node_modules/bga-cards/bga-cards';
@import 'cards';
@import 'chips';
@import 'table-center';
@import 'playerboards';
@import 'player-table';
@import 'help';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  
  &.reward {
    background-position-x: #{0 * 100% / 2};
  }
  &.minus {
    background-position-x: #{1 * 100% / 2};
  }
  &.plus {
    background-position-x: #{2 * 100% / 2};
  }
}

.action-button, .log {
  .icon, .color {
    width: 24px;
    height: 24px;
  }
}

.dijitTooltipContents {
  .icon, .color {
    width: 20px;
    height: 20px;
  }
}


#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;

  #tables {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  &.double-column {
    flex-direction: row;
    justify-content: center;
    align-items: start;

    &>div {
      flex: 1;
    }
  }
}

.log-chip-image {
  padding: 3px;
  display: flex;
  justify-content: center;

  .chip {
    width: 41px;
    height: 49px;
  }
}

.log-card-image {
  padding: 3px;
  display: flex;
  justify-content: center;
  height: 64px;
}

#skin {
  background: #FFFFFF88;
  border-radius: 15px;

  .title {
    padding-top: 10px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
      width: 160px;
      height: 160px;
      background-size: 140px 140px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}