#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  position: relative;
  min-width: 830px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-columns: repeat(4, 200px);
  //grid-template-rows: 429px;
  gap: 10px;

  #bag {
    position: absolute;
    top: 0;
    left: 0;
  }

  .map {
    width: 200px;
    height: 429px;
    background-size: auto 100%;
    //background-image: url('img/us/maps.png');
    border-radius: 32px;
    display: flex;
    gap: 10px;

    @for $phase from 1 through 4 {
        &[data-phase="#{$phase}"] {
          background-position-x: #{($phase - 1) * 100% / 3};
        }
    }

    .slot {
      flex: 1;
      align-items: center;
      align-content: center;
    }
  }
}