#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  min-width: 818px; // TODO

  display: grid;
  grid-template-columns: repeat(4, 495px);
  grid-template-rows: 1063px;
  gap: 10px;

  .map {
    width: 495px;
    height: 1063px;
    background-size: auto 100%;
    background-image: url('img/maps.png');
    border-radius: 32px;
    display: flex;
    gap: 10px;

    @for $phase from 1 through 4 {
        &[data-phase="#{$phase}"] {
          background-position-x: #{($phase - 1) * 100% / 3};
        }
    }

    .slot {
      flex: 1;
    }
  }
}